# IntelliJ
.idea/
*.iml

# Python leftovers
.venv/
__pycache__/

# Backend build
backend/.gradle/
backend/build/
.gradle-user-home/
.env

# Frontend build
frontend/node_modules/
frontend/dist/

# Frontend envs
frontend/.env
frontend/.env.*.local
frontend/.env.production
frontend/.env.development.local
.env.development.local
.env.production.local
.env.local